h1 {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
}

.content {
    margin: 20px;
}

.box {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.pagination {
    margin: 20px;
    text-align: center;
    
}

.page-button {
    margin: 5px;
    padding: 10px 15px;
    cursor: pointer;
}
