body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding-top: 60px;
  }
  
  .login-container {
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    width: 300px;
    margin-top:100px;

    width: 350px;

    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #a8c2db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #266cad;
  }
  
  .find-credentials {
    text-align: right;
    margin-top: 15px;
  }
  
  .find-link {
    color: #266cad;
    text-decoration: none;
  }
  
  .find-link:hover {
    text-decoration: underline;
  }
  
  span {
    margin: 0 5px;
  }
  