* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  padding-top: 80px;
}

.main-banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 500px;
  background-color: white;
  box-sizing: border-box;
}

.inner-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
  height: 80px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.logo {
  flex: 0 0 auto;
}

.logo img {
  width: 50px;
  height: 50px;
}

.nav-menu {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  gap: 20px;
  justify-content: center;
  flex: 1;
  margin-left: 40px;
  font-size: 16px;
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.nav-menu a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.nav-menu a:visited {
  color: inherit;
  text-decoration: none;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: black;
}

.click-me {
  cursor: pointer;
  font-weight: bold;
}

.auth {
  flex: 0 0 auto;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.auth a {
  color: black;
  font-weight: 500;
}

.auth span {
  margin-left: 0px;
  cursor: pointer;
}

.sep {
  color: #999;
  margin: 0 5px;
}